@model GameForDemo.ViewModel.ImageViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>

        .image {
            display: inline-block;
            cursor: pointer;
            height: 300px;
            width: auto;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-direction: row;
            opacity: 1;
        }

        button:active {
            position: relative;
            top: 3px;
            background-color: mediumvioletred;
            opacity: 1;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            
        }

        p {
            color: green;
            font-size: 30px;
            opacity: 1;
        }
        table, td {
            border: 1px solid black;
            table-layout: fixed;
            opacity: 1;
        }
        table {
            display: block;
            margin-left: auto;
            margin-right: auto;
            opacity: 1;
            border-color: red;
            color:white;
            font-size: 40px;
            background-color: green;
            font-weight: bold;
        }

        td {
            padding: 5px;
            text-align: left;
            width: 200px;
            opacity: 1;
        }

        body {
            background-image: url("D:/Greenfox Academy tananyag/practice/week07/day3/images/background.jpg");
            opacity: 0.95;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <form class="card" action="/TurnUpTheFirstCard" method="post" name="submitbutton1">
            <button class="button" type="submit" style="border: 0;" >
                <img class="image" src="@Model.StartImageList[0].StartImageLink" alt="submit">
                
            </button>
        </form>

        <form class="card" action="/TurnUpTheSecondCard" method="post" name="submitbutton2">
            <button class="button" type="submit" style="border: 0;">
                <img class="image" src="@Model.StartImageList[1].StartImageLink" alt="submit">                
            </button>
        </form>

        <form class="card" action="/TurnUpTheThirdCard" method="post" name="submitbutton3">
            <button class="button" type="submit" style="border: 0;">
                <img class="image" src="@Model.StartImageList[2].StartImageLink" alt="submit">                
            </button>
            
        </form>
    </div>

    <table style="width:800px">
        <tr>

            <td>Number Of your Wins</td>
            <td>Number Of your deaths</td>
        </tr>
        <tr>
            <td>@Model.NumberOfWins</td>
            <td>@Model.NumberOfDeaths</td>

        </tr>

    </table>
</body>
</html>

