@model GameForDemo.ViewModel.ImageViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>

        .image 
        {
            display: inline-block;
            cursor: pointer;
            height: 300px;
            width: auto;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-direction: row;
            opacity: 1;
        }

        button:active 
        {
            position: relative;
            top: 3px;
            background-color: mediumvioletred;
            opacity: 1;
        }

        .container 
        {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        p 
        {
            color: red;
            font-size: 30px;
            top: 50%;
            text-align: center;
            opacity: 1;
            font-size:50px;
        }

        table, td 
        {
            border: 1px solid black;
            table-layout: fixed;
            opacity: 1;
        }
        table 
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            opacity: 1;
            border-color: red;
            color: white;
            font-size: 40px;                        
            background-color: green;
            font-weight: bold;            
        }

        td 
        {
            padding: 5px;
            text-align: left;
            width: 200px;
            opacity: 1;
        }

        .restartbutton 
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-top: 1px solid #98f5c8;
            background: #d46565;
            background: -webkit-gradient(linear, left top, left bottom, from(#9c3e43), to(#d46565));
            background: -webkit-linear-gradient(top, #9c3e43, #d46565);
            background: -moz-linear-gradient(top, #9c3e43, #d46565);
            background: -o-linear-gradient(top, #9c3e43, #d46565);
            padding: 15px 30px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            border-radius: 16px;
            -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
            -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
            box-shadow: rgba(0,0,0,1) 0 1px 0;
            text-shadow: rgba(0,0,0,.4) 0 1px 0;
            color: #000000;
            font-size: 24px;
            font-family: Georgia, Serif;
            text-decoration: none;
            vertical-align: middle;
            opacity: 1;
        }

        .button:hover 
        {
            border-top-color: #cf2608;
            background: #cf2608;
            color: #cccccc;
            opacity: 1;
        }

        .button:active 
        {
            border-top-color: #245c1b;
            background: #245c1b;
            opacity: 1;
        }

        body {
            background-image: url("/Images/background.jpg");
        }

    </style>
</head>
<body>
    <div class="container">
        <form class="card">            
                <img class="image" src="@Model.StartImageList[0].StartImageLink" alt="submit">            
        </form>

        <form class="card">            
                <img class="image" src="@Model.StartImageList[1].StartImageLink" alt="submit">            
        </form>

        <form class="card">            
                <img class="image" src="@Model.StartImageList[2].StartImageLink" alt="submit">
        </form>
    </div>      
      
    <table style="width:800px">
        <tr>

            <td>Number Of your Wins</td>
            <td>Number Of your deaths</td>
        </tr>
        <tr>
            <td>@Model.NumberOfWins</td>
            <td>@Model.NumberOfDeaths</td>

        </tr>

    </table>
    <p >You have been hacked!!!</p>

    <form action="/death/restart" method="post">
        <button class="restartbutton"  type="submit">Restart!</button>
    </form>

</body>
</html>

